<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TripSync | <%= title %></title>
        <link rel="stylesheet" href="styles/verifyOtp.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="wrapper">
            <form id="forgot-form" action="">
                <h1>Forgot Password</h1>
                <!-- Error Message -->
                <p class="error-message" id="error-message"></p>
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="email"
                        name="email"
                        id="email"
                        required
                    />
                    <i class="bx bxs-envelope"></i>
                </div>
                <button type="submit" class="btn" id="btn">Send</button>
                <div class="resend-link">
                    <p><a href="/login">back</a></p>
                </div>
            </form>
        </div>
        <div class="alert-wrapper" id="alert">
            <div class="alert content">
                <p>Otp send Success fully</p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/forgotPassword.js"></script>
    </body>
</html>
