<% layout('./layouts/baseTemplate') %> <% block('head').append(`<link
  rel="stylesheet"
  href="/styles/forgotPassword.css"
/>`) %>
<div class="forgot-main-container">
  <div class="wrapper">
    <form id="forgot-form">
      <h1>Forgot Password</h1>
      <!-- Error Message -->
      <p class="error-message" id="error-message"></p>
      <div class="input-box">
        <input
          type="text"
          placeholder="email"
          name="email"
          id="email"
          required
        />
        <i class="bx bxs-envelope"></i>
      </div>
      <button type="submit" class="btn" id="btn">Send</button>
      <div class="resend-link">
        <p><a href="/login">back</a></p>
      </div>
    </form>
  </div>
</div>
