<% layout('./layouts/baseTemplate') %>
<div class="main">
  <div class="side-nav">
    <ul>
      <li class="nav-link" onclick="getAccountPage()">
        <a href="/me">
          <span><i class="fa-solid fa-circle-user"></i></span>
          Account Settings
        </a>
      </li>
      <li class="nav-link">
        <span><i class="fa-solid fa-lock"></i></span>
        <a href="/security">Password & Security</a>
      </li>
      <li class="nav-link">
        <span><i class="fa-solid fa-suitcase"></i></span>
        <a href="#">My Bookings</a>
      </li>
      <li class="nav-link">
        <span><i class="fa-regular fa-star"></i></span>
        <a href="#">My Reviews</a>
      </li>
      <li class="nav-link">
        <span><i class="fa-solid fa-credit-card"></i></span>
        <a href="#">Billings</a>
      </li>
    </ul>
  </div>
  <div class="side-details">
    <div class="account-info">
      <div class="account-details-wrapper">
        <form action="" id="user-password-form">
          <h1>Password settings</h1>
          <div class="input-box">
            <label for="">Current Password</label>
            <input
              type="password"
              name="current-password"
              id="current-password"
              placeholder="............"
            />
          </div>
          <div class="input-box">
            <label for="">New Password</label>
            <input
              type="password"
              name="password"
              id="new-password"
              placeholder="............"
            />
          </div>
          <div class="input-box">
            <label for="">Confirm Password</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirm-password"
              placeholder="............"
            />
          </div>
          <div class="btn-container">
            <button id="saved-btn">Save Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="alert-wrapper" id="alert">
  <div class="alert content">
    <p id="message">update Successfully</p>
  </div>
</div>
